<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/chat.css"/>
    <link rel="stylesheet" href="./css/font-awesome.css"/>
</head>
<body>
<form id="container" class="container mt-lg-4 pt-lg-4 pb-lg-4" v-on:submit.prevent="sendMessage">
    <div id="wrap" class="row">
        <div class="col-4">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" v-bind:class="{active : isRoomShow}" v-on:click="toggleTab">방리스트</a>
                </li>
                <li class="nav-item"><a class="nav-link" v-bind:class="{active : !isRoomShow}" v-on:click="toggleTab">접속자리스트</a>
                </li>
            </ul>
            <div v-show="isRoomShow">
                <ul class="list-group list-group-flush">
                    <room-item v-for="(value, key) in roomList" v-bind:room="value" v-bind:key="key"></room-item>
                </ul>
            </div>
            <div class="p-3" v-show="!isRoomShow">
                <div class="clearfix"><span class="badge badge-primary mr-sm-1">me!</span>{{myId}}
                    <button type="button" class="btn btn-sm btn-outline-warning float-right" v-on:click="showNicknameLayer"><i class="fa fa-edit"></i>닉네임변경</button></div>
                <ul id="user-list" class="list-group list-group-flush">
                    <user-item v-for="item in userList" v-bind:user="item" v-bind:key="item.userId"></user-item>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs">
                <chat-room-item v-for="item in chatRoomList" v-bind:room="item" v-bind:key="item"></chat-room-item>
            </ul>
            <div>
                <div class="chat-list">
                    <chat-item v-for="(value, key) in chatList" v-bind:chat="value" v-bind:key="key"></chat-item>
                </div>
                <div class="form-group row">
                    <div class="col-10">
                        <input type="text" class="form-control" v-model="message"/>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="changeIdModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">닉네임변경</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">변경</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="js/vue.js"></script>
<script src="./js/socket.io/client-dist/socket.io.js"></script>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.js"></script>
<script type="module">

    import ChatItem from './js/components/ChatItem.js';
    import ChatRoomItem from './js/components/ChatRoomItem.js';
    import RoomItem from './js/components/RoomItem.js';
    import UserItem from './js/components/UserItem.js';

    const app = new Vue({
        el: '#container',
        data: {
            socket: io(),
            roomId: 'waiting',
            roomName: 'waiting',
            message: '',
            roomList: {},
            userList: [],
            chatRoomList: [],
            chatList: {'waiting': []},
            isRoomShow: true,
            myId: '',
            myNickName: '',
            changeIdModal: {}
        }, created: function () {
            this.chatRoomList.push(this.roomName);

            this.socket.on('message', (data) => {
                let sendType = data.sendType;
                let userId = data.userId;
                let msg = '';
                let roomId = data.roomId;

                switch (sendType) {
                    case "chat":
                        this.addChatMsg(roomId, userId, data.message );
                        break;
                    case "wait":
                        this.roomList = data.roomInfo;
                        this.userList = data.userInfo;
                        this.myId = data.myId;
                        this.myNickName = data.myNickName;
                        break;
                    case "leave":
                        //접속자리스트에서 삭제
                        let index = this.userList.find(e => e.userId == userId);
                        this.userList.splice(index, 1);

                        //접속해있던 방에 퇴장 메시지 뿌림
                        roomId = data.roomId;
                        msg = this.makeLeaveNoticeMsg(userId);
                        this.addChatMsg(roomId, userId, msg);

                        //방 접속자 인원수 감소
                        this.changeRoomUserSize('waiting', -1);
                        break;
                    case "enter":
                        //접속자리스트에 추가
                        this.userList.push({userId: userId, nickName: data.nickName});

                        //대기방에 입장 메시지 뿌림
                        msg = this.makeEnterNoticeMsg(userId);
                        this.addChatMsg(roomId, userId, msg);

                        //방 접속자 인원수 증가
                        this.changeRoomUserSize(roomId, 1);
                        break;
                    default:
                }
            });
        }, mounted: function(){
            this.changeIdModal = new bootstrap.Modal(document.getElementById('changeIdModal'), {backdrop: true, keyboard: false, focus: true});
        },
        methods: {
            sendMessage: function (e) {
                this.socket.emit('send', {
                    message: this.message,
                    roomId: this.roomId,
                    userId: this.myId
                });

                this.message = '';
            }, toggleTab: function () {
                this.isRoomShow = !this.isRoomShow;
            }, makeEnterNoticeMsg: function (userId) {
                return userId + '님이 입장하셨습니다.';
            }, makeLeaveNoticeMsg: function (userId) {
                return userId + '님이 퇴장하셨습니다.';
            }, addChatMsg: function (roomId, userId, msg) {
                this.chatList[roomId].push({userId: userId, text: msg});
            }, changeRoomUserSize: function (roomId, change) {
                this.roomList[roomId].userSize += change;
            }, changeNickname: function(){
                this.socket.emit('changeNickname', {

                });
            }, showNicknameLayer: function(){
                this.changeIdModal.show();
            }
        },
        components: {
            ChatItem: ChatItem,
            ChatRoomItem: ChatRoomItem,
            RoomItem: RoomItem,
            UserItem: UserItem
        }
    });

</script>
</body>
</html>